@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-backgroundImg {
  background-image: url('/frame/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100wh;
  max-height: 100vh;
}

.text-body-color {
  color: black;
}

span svg.text-white {
  color: white !important;
}

img {
  width: auto;
  height: auto;
}

video {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 600px; /* Avoid overflow */
}

