@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-backgroundImg {
  background-image: url('/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.text-body-color {
  color: black;
}

span svg.text-white {
  color: white !important;
}

img {
  width: auto;
  height: auto;
}

video {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 600px; /* Avoid overflow */
}

.toggle-img {
  width: auto;
  height: 55px;
}

.icon-img {
  width: 55px;
  height: 55px;
}

.col-css p {
  text-align: center;
}

.col-css img {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  #canvas {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: -20%;
  }
  
  .control-panel {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .display-media {
    margin-top: -20%;
  }
}
