@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-backgroundImg {
  background-image: url('/frame/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.text-body-color {
  color: black;
}

span svg.text-white {
  color: white !important;
}
